.link {
  padding: 16px 8px;
  margin-right: 16px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #586069;
  outline: none;
  border: 0;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  background-color: transparent;
}

.link.selected {
  font-weight: 600;
  color: #24292e;
  border-bottom-color: #e36209;
}

.link:hover {
  color: #15181b;
  border-bottom-color: #9da9b6cc;
}

.link.selected:hover {
  color: #24292e;
  border-bottom-color: #e36209;
}

/*Styling for the link parent div*/
.links {
  border-bottom: 1px solid #d1d5da;
}
